.task-item {
    & > div {
        display: flex;
    }

    &.completed {
        color: lightgrey;
    }

    &__title {
        flex-grow: 1;
        transition: 0.25s;
        color: unset;

        &:hover {
            text-decoration: underline;
            color: unset;
        }
        &:active {
            color: rgba(cornflowerblue, 0.8);
        }
    }
}
