@import "./vars.scss";
@import "./normalize.scss";

.app {
    display: flex;
    flex-direction: column;

    &-header {
        height: 30px;
        width: 100%;
        background-color: var(--clr-background);
    }
    &-main {
        margin-top: 20px;
        text-align: center;
        flex-grow: 1;
    }
    &-footer {
        height: 30px;
        width: 100%;
        background-color: var(--clr-background);
    }
}
