@import "./vars.scss";
@import "./normalize.scss";

.app {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-background);
    color: var(--clr-text);

    &-header {
        height: 30px;
        width: 100%;
        background-color: var(--clr-foreground);
        box-shadow: 0px 10px 51px 0px rgba(0, 0, 0, 0.26);
    }
    &-main {
        margin: 40px 25% 0 25%;
        flex-grow: 1;
    }
    &-footer {
        height: 30px;
        width: 100%;
        background-color: var(--clr-foreground);
        box-shadow: 0px 10px 51px 0px rgba(0, 0, 0, 0.26);
    }
}
