// vars
.app {
  --clr-foreground: #fff;
  --clr-foreground--hover: #f6faff;
  --clr-foreground--selected: #dfecff;
}
// normalize
html,
body,
#root,
.app {
  height: 100%;
  position: relative;
}

.app {
  li {
    list-style: none;
  }
}
// app styles
.app {
  display: flex;
  flex-direction: column;
  &-content {
    margin: auto 10%;
    flex-grow: 1;
  }

  .ant-breadcrumb {
    margin: 20px;
  }
}

// common class-styles
.app {
  .text-white {
    color: white;
  }
  .text-muted {
    color: gray;
  }
}
